version: "3" 

services: 
  db:
    image: postgres:latest
    container_name: db
    restart: always
    volumes:
      - db-app:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: root
      POSTGRES_DB: tcc_database
    ports:
      - "5431:5432"

volumes:
  db-app: